
<div class="px-4 py-5 md:px-6 lg:px-8" >
    <div class="grid" *ngIf="!isPatient">
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Total Appointment</span>
                        <div class="text-900 font-medium text-xl">1</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-calendar-times text-blue-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Today appointment</span>
                        <div class="text-900 font-medium text-xl">10</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-calendar text-orange-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Customers</span>
                        <div class="text-900 font-medium text-xl">28441</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-home text-cyan-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <div class="surface-card shadow-2 p-3 border-round">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Schedules</span>
                        <div class="text-900 font-medium text-xl">152</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                        <i class="pi pi-stopwatch text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isPatient || authService.isAdmin()" >
        <p-table [value]="items" *ngIf="!triggerForm" [scrollable]="true">
            <!-- <ng-template pTemplate="header">
                <tr>
                    <th>Doctor Name</th>
                    <th>Education</th>
                    <th>Speciality</th>
                    <th>Calendar</th>
                    <th>Appointment Date</th>
                    <th>Available Time</th>
                    <th>Action</th>
                </tr>
            </ng-template>  -->
            <ng-template pTemplate="body" let-item let-i>
                <tr style="height:46px">
                    <td>
                        <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <p-avatar [image]="env.Static_URL+item.doctor[0].image" styleClass="flex" shape="circle"></p-avatar>
                        </div>
                        <p><i class="pi pi-user" style="color: blue;"></i> {{item.doctor[0].name}}</p>
                        <p><i class="pi pi-briefcase" style="color: blue;"></i> {{item.doctor[0].degree}}</p>
                        <p><i class="pi pi-book" style="color: blue;"></i> {{item.doctor[0].speciality}}</p>
                        <p><i class="pi pi-building" style="color: blue;"></i> {{item.doctor[0].address}}</p>
                        <p><i class="pi pi-phone" style="color: blue;"></i> {{item.doctor[0].phone}}</p>
                    </td>
                    <!-- <td>{{item.doctor_schedule_date | date}}</td>
                    <td>{{item.doctor_schedule_start_time | date:'shortTime'}}-{{item.doctor_schedule_end_time | date:'shortTime'}}</td> -->
                    <!-- timeslot and date table -->
                    <td style="display: flex;
                    height: 18rem; ">
                    <table>
                        <thead>
                        <tr>
                            <th *ngFor="let scheduleDate of item.doctor_schedule_date" style="width: 7rem;">{{scheduleDate | date}}</th>
                        </tr>
                    </thead>
                    <tbody style="position: absolute;
                    overflow-x: auto;
                    height: 12rem;">
                            <tr style="display: flex;">
                                <td *ngFor="let timeSlot of item.timeSlot; let idx=index" style="width: 7rem;">
                                    <p-button *ngFor="let scheduleTime of timeSlot" styleClass="p-button-sm mb-2" (click)="bookAppointment(scheduleTime,item,idx)">
                                    {{scheduleTime.time | date:'hh:mm a'}}
                                    </p-button>
                                </td>
                            </tr>
                    </tbody>
                    </table>
                </td>
                <!-- <td *ngIf="!isLogged">
                        <p-button label="Get Appointment" styleClass="p-button-sm" [routerLink]="'/auth'" [queryParams]="{type:'patient'}" ></p-button>
                    </td>
                    <td *ngIf="isLogged">
                        <p-button label="Get Appointment" styleClass="p-button-sm" (click)="appointementDetails(item)"></p-button>
                    </td> -->
                </tr>
            </ng-template>
        </p-table>
       
        <p-dialog header="Confirm Your appointement" [(visible)]="triggerValidationForm" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
            [draggable]="false" [resizable]="false">
            <div class="flex gap-2 justify-content-between">
                <div>
                    <p>Doctor Name: {{selectedDoctor?.doctor[0].name}}</p>
                    <p>Appointment Time: {{appointmentData.appointment_time | date}}</p>
                </div>
                <div>
                    <p>Reason for Appointment:</p>
                    <textarea rows="5" cols="30" pInputTextarea [autoResize]="true" [(ngModel)]="appointmentData.reason_for_appointment" required></textarea>
                </div>
            </div>
            <ng-template pTemplate="footer">
                <p-button (click)="triggerValidationForm=false" label="Cancel" styleClass="p-button"></p-button>
                <p-button (click)="confirmAppointment()" label="Confirm" styleClass="p-button"></p-button>
            </ng-template>
        </p-dialog> 
    </div>
</div>
<p-toast position="top-right"></p-toast>

<!-- 
          <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                            <p-avatar [image]="env.Static_URL+item.doctor[0].image" styleClass="flex" shape="circle"></p-avatar>
                        </div>
                        <div class="flex align-items-center">
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-user text-blue-500 text-xl"></i>
                            </div>
                            <p class="p-1">{{item.doctor[0].name}}</p>
                        </div>
                        <div class="flex align-items-center">
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-briefcase text-blue-500 text-xl"></i>
                            </div>
                            <p class="p-1">{{item.doctor[0].degree}}</p>
                        </div>
                        <div class="flex align-items-center">
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-book text-blue-500 text-xl"></i>
                            </div>
                            <p class="p-1">{{item.doctor[0].speciality}}</p>
                        </div>
                        <div class="flex align-items-center">
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-building text-blue-500 text-xl"></i>
                            </div>
                            <p class="p-1">{{item.doctor[0].address}}</p>
                        </div>
                        <div class="flex align-items-center">
                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                <i class="pi pi-phone text-blue-500 text-xl"></i>
                            </div>
                            <p class="p-1">{{item.doctor[0].phone}}</p>
                        </div>
 -->