.appointment-status{
    &.pending{
        color: #f0ad4e;
    }
    &.confirmed{
        color: #5cb85c;
    }
    &.cancelled{
        color: #d9534f;
    }
    &.completed{
        color: #5bc0de;
    }
}
.info{
    display: flex;
    justify-content: space-around;
    background: #fff2e2;
    border: solid #cc8925;
    border-width: 0px;
    color: #cc8925;
    margin: 1rem;
}
.footerr{
    text-align: center;
    padding: 1rem;
}